<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= nested_form_for [:admin, @book] do |f| %>      
      <div class="form-group<%= get_error_class @book, :title %>">
        <%= f.label t(:book_form_book_title), class: "control-label" %>
        <%= f.text_field :title, class: "form-control" %>
        <%= raw get_error_message @book, :title %> 
      </div>
      <div class="form-group<%= get_error_class @book, :author %>">
        <%= f.label t(:book_form_book_author), class: "control-label" %>
        <%= f.text_field :author, class: "form-control" %>
        <%= raw get_error_message(@book, :author) %>
      </div>
      <div class="form-group<%= get_error_class @book, :publish_date %>">
        <%= f.label t(:book_form_book_pubish_date), class: "control-label" %>        
        <%= f.date_field :publish_date, readonly: true, class: "form-control" %>
        <%= raw get_error_message @book, :publish_date %>
      </div>
      <div class="form-group<%= get_error_class @book, :num_of_pages %>">
        <%= f.label t(:book_form_book_num_of_pages), class: "control-label" %>
        <%= f.number_field :num_of_pages, class: "form-control" %>
        <%= raw get_error_message @book, :num_of_pages %>
      </div>
      <div class="form-group<%= get_error_class @book, :category_id %>">
        <%= f.label t(:book_form_book_category), class: "control-label" %>
        <%= f.collection_select :category_id, Category.all, :id, :name,
          prompt: "--Select A Category--", class: "form-control" %>
          <%= raw get_error_message @book, :category_id %>
      </div>
      <%= f.fields_for :book_images do |bif| %>
        <%= bif.label :image, t(".upload_image") %>
        <%= bif.hidden_field :image_cache %>
        <%= bif.file_field :image %>
        <%= bif.link_to_remove "Remove this image" %>
      <% end %>
      <p><%= f.link_to_add "Add an image", :book_images %></p>
      <div class="col-md-2 col-md-offset-5">
        <%= f.submit t(:book_form_submit_button), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>