<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= nested_form_for [:admin, @book] do |f| %>
      <div class="form-group">
        <%= f.label t(:book_form_book_title), class: "control-label" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t(:book_form_book_author), class: "control-label" %>
        <%= f.text_field :author, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t(:book_form_book_pubish_date), class: "control-label" %>
        <%= f.date_select :publish_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t(:book_form_book_num_of_pages), class: "control-label" %>
        <%= f.number_field :num_of_pages, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t(:book_form_book_category), class: "control-label" %>
        <%= f.collection_select :category_id, Category.all, :id, :name,
          prompt: "--Select A Category--", class: "form-control" %>
      </div>
      <div class="col-md-2 col-md-offset-5">
        <%= f.submit t(:book_form_submit_button), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
