<% provide :title, t(:books_page_title) %>
<div class="row">
  <%= search_form_for @search do |f| %>
    <div class="form-group col-sm-6 form-inline">
      <%= f.label :title_cont, t(".title") %>
      <%= f.text_field :title_cont %>

      <%= f.label :category_id_eq, t(".category") %>
      <%= f.select :category_id_eq, options_from_collection_for_select(
        @categories, :id, :name, @search.category_id_eq), {prompt: false},
        {class: "form-control"} %>
    <div class="actions"><%= f.submit %></div>
    </div>
  <% end %>
</div>
<hr />
<div class="row">
  <% @books.each do |book| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumbnail">
      <div class="text-center">
        <%= link_to book.title, book_path(book), class: "lead" %>
      </div>
      <%= link_to image_tag(book.book_images.first.image.url(:thumb), class: 
        "img-thumbnail"), book_path(book) %>
        <br>        
        <div class="row">
          <div class="col-xs-3 col-xs-offset-1">
            <%= link_to t(:book_index_review_btn), book_path(book), 
              class: "btn btn-xs btn-info" %>
          </div>
          <div class="col-xs-3">
            <%= link_to t(:book_index_favorite_btn), "#", 
              class: "btn btn-xs btn-success" %>
          </div>
          <div class="col-xs-3  col-xs-offset-1">
            <%= link_to t(:book_index_status_read_btn), "#", 
              class: "btn btn-xs btn-default" %>
          </div>
        </div>        
    </div>
  <% end %>  
</div>