<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".comments" %></h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <% @comments.each do |comment| %>
        <%= comment.content %>
        <span class="timestamp">
        <%= t "comments.commented" %> <%= time_ago_in_words(comment.created_at)
        %> <%= t ".ago" %> <%= comment.user.name %><br/>
      </span>
      <% end %>
    </div>
  </div>
</div>