<h5><%= t ".add_comment" %></h5>
<%= form_for [@review, @comment] do |f| %>
  <%= f.hidden_field :review_id, value: @review.id %>
  <%= f.text_field :content, placeholder: t(".new_comment"),
    class: "comment_box form-control" %>
  <br>
  <%= f.submit t(".comment"), class: "btn btn-primary" %>
<% end %>