<% provide :title, @user.name %>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @user.image.url(:thumb), class: "img-thumbnail" %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t ".activities" %></h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t ".my_favorites" %></h3>
      </div>
      <%= render "favorite_books" %>
    </div>
    <%= render "shared/stats" %>
    <%= render "follow_form" if user_signed_in? %>
    <%= render "followers" %>
    <%= render "followings" %>
  </div>
</div>
