<% provide :title, @user.name %>
<div class="row">
  <%= render "user_profile" %>
  <div class="col-md-9">
    <%= render "activity" %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t ".my_favorites" %></h3>
      </div>
      <%= render "favorite_books" %>
    </div>
    <%= render "shared/stats" %>
    <%= render "follow_form" if user_signed_in? && !current_user.admin? %>
    <%= render "followers" %>
    <%= render "followings" %>
  </div>
</div>
