<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".details" %></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= t ".title" %></dt>
      <dd><%= @book.title %></dd>
      <dt><%= t ".author" %></dt>
      <dd><%= @book.author %></dd>
      <dt><%= t ".publish_date" %></dt>
      <dd><%= @book.publish_date %></dd>
      <dt><%= t ".num_of_pages" %></dt>
      <dd><%= @book.num_of_pages %></dd>
      <dt><%= t ".category" %></dt>
      <dd>
        <%= link_to @book.category.name, send("#{role_prefix}category_path", 
          @book.category) %>
      </dd>
      <dt><%= t ".rating" %></dt>
      <dd><div id="rating" data-rating="<%= @book.rating %>"></div></dd>
    </dl>
  </div>
</div>