<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".details" %></h3>
  </div>
  <div class="panel-body">
   <dl class="dl-horizontal">
     <dt><%= t ".content" %></dt>
     <dd><%= @review.content %></dd>
     <dt><%= t ".rating" %></dt>
     <dd><%= @review.rating %></dd>
   </dl>
  </div>
</div>