<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".reviews" %></h3>
  </div>
  <div class="panel-body">
    <%= paginate @reviews %>
    <%= page_entries_info @reviews %>
    <div class="list-group">
      <% @reviews.each do |review| %>
        <%= link_to review.content, book_review_path(book_id: @book.id, id: 
          review.id), class: "list-group-item" %>
        <small class="col-md-offset-1">
          <%= t ".by" %> <%= link_to review.user.name, user_path(review.user) %>
        </small>
        <% if can?(:destroy, review) %>
          <small>
            <%= link_to t(".edit"), edit_book_review_path(book_id: @book.id,
              id: review), class: "btn btn-primary btn-xs" %>
            <%= link_to t(".delete"), book_review_path(book_id: @book.id, 
              id: review), method: :delete, data:{confirm: t(:confirmation)}, 
              class: "btn btn-primary btn-xs" %>
          </small>                
        <% end %>
      <% end %>
    </div>
    <%= paginate @reviews %>
  </div>
</div>