<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".details" %></h3>
  </div>
  <div class="panel-body">
   <h4><%= t ".rating" %> <div id="review_rating" data-rating="<%= @review.rating %>"></div></h4>
   <p class="lead" ><%= @review.content %></p>
   <%= render "comments/form" %>
  </div>
</div>