<% provide :title, @book.title %>
<div class="row">
  <div class="col-md-3">
    <%= render "books/image_gallery" %>
  </div>
  <div class="col-md-9">
    <% if role_prefix == "admin" %>
      <%= render "books/details", role_prefix: "admin_" %>
      <%= render "books/admin_actions" %>
    <% else %>
      <%= render "books/details", role_prefix: "" %>
      <%= render "books/actions" %>
      <%= render "books/reviews" %>
      <%= render "books/review_form" %>
    <% end %>    
  </div>
</div>