<% provide :title, @book.title %>
<div class="row">
  <div class="col-md-3">
    <%= render "books/image_gallery" %>
  </div>
  <div class="col-md-9">
    <%= render "books/details" %>    
    <%= render role_prefix == "admin" ? "books/admin_actions" : "books/actions" %>
    <%= render "books/reviews" %>
    <%= render "books/review_form" %>
  </div>
</div>