<h1><%= t ".title" %></h1>
<table class="table">
  <thead>
    <th><%= t ".name" %></th>
    <th><%= t ".email" %></th>
    <th><%= t ".role" %></th>
    <th><%= t ".delete" %></th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
      <% unless user.admin? %>
        <%= link_to t(".delete"), admin_user_path(user), class: "btn btn-danger", 
          method: :delete, data: {confirm: t(".confirmation")} %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>