<div class="panel panel-default">
  <div class="panel-body">
  <h2><%= t ".title_activities" %></h2>
    <table class= "table table-striped">
      <% @activities.each do |review_activity| %>
        <tr>
          <td>
            <%= t ".review_content" %>
            <%= review_activity.trackable.content %>
            <% key = review_activity.key %>
            <%= key[7,key.length] << " by " %>
            <%= review_activity.owner.email %>
            <%= time_ago_in_words review_activity.created_at %>
            <%= t ".activity_message_ago" %>
          </td>
        </tr>
      <% end %>
    </table>    
  </div>
</div>