<% provide :title, @book.title %>
<div class="row">
  <div class="col-md-3">
    <%= render "books/image_gallery" %>
  </div>
  <div class="col-md-9">
    <%= render "books/details", role_prefix: "" %>
    <%= render "books/actions" %>
    <%= render "books/reviews" %>
    <%= render "books/review_show" %>
    <%= render "comments/comments" %>
  </div>
</div>