<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:home_head), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if true %> <!-- if not register -->
          <%= link_to t(:sign_up), "#", class: "btn btn-default" %>
        <% else %> <!-- else user -->
          <% if true %> <!-- if admin -->
            <li><%= link_to t(:my_profile),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:books),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:users),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:requests),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:logout),"#", class: "btn btn-default" %></li>
          <% else %> <!-- else user -->
            <li><%= link_to t(:my_profile),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:books),"#", class: "btn btn-default" %></li>
            <li><%= link_to t(:users),"#", class: "btn btn-default"%></li>
            <li><%= link_to t(:logout),"#", class: "btn btn-default" %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>