<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:home_head), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t(:my_profile), current_user, class: "btn" %></li>
            <li><%= link_to t(:books), admin_books_path, class: "btn" %></li>
            <li><%= link_to t(:users), users_path, class: "btn" %></li>
            <li><%= link_to t(:all_requests), requests_path, class: "btn" %></li>
            <li><%= link_to t(:logout), :destroy_user_session, method: :delete,
                   class: "btn" %></li>
          <% else %>
            <li><%= link_to t(:my_profile), current_user, class: "btn" %></li>
            <li><%= link_to t(:books), books_path, class: "btn" %></li>
            <li><%= link_to t(:users), users_path, class: "btn" %></li>
            <li><%= link_to t(:logout), :destroy_user_session, method: :delete,
                  class: "btn" %></li>
          <% end %>
        <% else %>
          <%= link_to t(:sign_up), new_user_registration_path,
             class: "btn btn-default" %>
        <% end %>
      </ul>
    </nav>
  </div>
  <div></div>
</header>
